<div class="container">
  <div class="row">
    <% if params[:plan] == '2' %>
      <%= render "pro_form" %>

    <% else %>
      <%= render "basic_form" %>

    <% end %>
    
    
  
  </div>
</div>